* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f7efeffa;
}

main {
    /* width: 50%;
    margin: auto; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.top-content {
    background-color: white;
    padding: 2em;
}

.top-content h3 {
    color: rgb(64, 158, 158);
    font-size: 20px;
    padding-bottom: 10px;
}

.top-content .p-top {
    font-size: 15px;
    color: rgb(108, 124, 15);
    padding-bottom: 10px;
}